.timer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}
.timer__inner {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 50%;
    max-width: 640px;
    background-color: rgb(207, 207, 207)
}
.timer__buttons {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.2);
    padding-top: 25%;
}
.timer__close {
    position: relative;
    z-index: 10000;
    border: none;
    padding: 10px;
}
.timer__resume,
.timer__pause,
.timer__start {
    background-color: transparent;
    height: 100%;
}
.fa-pause,
.fa-play {
    height: 100%;
    width: 100%;
    color:rgba(0, 0, 0, 0)
}
.fa-play:hover,
.fa-pause:hover {
    color: rgba(255, 255, 255, 0.7);
}
.timer__progressBar {
    position: absolute;
    /* background-color: rgba(0, 255, 0, 0.15); */
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.timer__Info {
    background-color: rgba(230, 230, 230, 0.6);
    height: 100%;
}
.timer__taskName {
    background-color: transparent;
    font-size: 60px;
    padding-top: 45px;
}
.timer__taskTimer {
    font-size: 150px;
    background-color: transparent;
    padding-top: 100px;
}
.timer__secondsInfo {
    font-size: 20px;
    background-color: transparent;
    margin-top: -20px;
}