.timer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    padding-top: 48px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}
.timer__inner {
    padding: 32px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    max-width: 640px;
    background-color: rgb(207, 207, 207)
}
.timer__buttons {
    float: right;
    padding: 15px;
    background-color: transparent;
    width: 40%;
}
.timer__buttons > button {
    margin-right: 10px;
    width: 45%;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(182, 182, 182);
    border: 1px solid gray;
}
.timer__buttons > button:hover {
    color: #fff;
    background-color: gray;
}
.timer__Info {
    background-color: rgba(230, 230, 230, 0.6);
    height: 100%;
}
.timer__taskName {
    background-color: transparent;
    font-size: 60px;
    padding-top: 45px;
}
.timer__taskTimer {
    font-size: 150px;
    background-color: transparent;
    padding-top: 100px;
}
.timer__secondsInfo {
    font-size: 20px;
    background-color: transparent;
    margin-top: -20px;
}