.exercise {
    text-align: center;

}
.exercise__header {
    background-color: gray;;
    height: 80px;
    padding-top: 20px;
    font-size: 30px;
}
.exercise__form {
    display: inline-block;
    padding: 15px;
    max-width: 550px;
    margin-top: 30px;
    align-items: center;
    background-color: rgb(207, 207, 207);
}
form {
    background-color: rgb(207, 207, 207);
}
form  input {
    padding: 5px 20px;
    margin: 10px 10px;
    background-color: #eff2f5;
    width: 70%;
    border-radius: 5px;
}
.exercise__add,
.exercise__start {
    padding: 5px 20px;
    margin: 10px;
    background-color: rgb(182, 182, 182);
    width: 40%;
    border-radius: 10px;
    border: 1px solid gray;

}
.exercise__add:hover:enabled,
.exercise__start:hover:enabled {
    color: #fff;
    background-color: gray;
}
.exercise__list {
    text-align: left;
    width: 100%;
    margin-top: 20px
}
div {
    border-radius: 10px;
}